@import url(../fontawesome-all.min.css);


/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  color:#171822;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.small-image {
  width:98.5%;
  height: 97.5%;
}
.card {
  width: 250px;
  height: 200px;
  background-color:#cbcde2;
}

.icon {
  width: 4%;
  height: 25px;
  border: 3px solid #171822;
  border-radius: 8px;
}
.block {
  display: block;
  margin: auto;
}
h4{
  margin: 0px;
}


/******************************************
/* LAYOUT
/*******************************************/
header {
  background-color: #171822;
  color: lightgray;
  height: 60px;
}

header > nav > * {
  width: 10%;
  float: left;
}
header > nav > ul {
  width: 650px;
  margin-left: 20%;
  list-style: none;
}
header > nav > button {
  float: right;
}
header > nav > ul > * {
  width: 100px;
  float: left;
}

main {
  background-color:#171822;
  color: lightgray;
  padding: 80px;
}

main > * {
  width: 50%;
  float: left;
}
main > section + section {
  background-color: #cbcde2;
  border: solid white;
  border-radius: 20px;
  border-width: 10px 20px 10px 20px;
  height: 465px;
}

main > section + section > div {
  margin:auto;
  margin-top: 8px;
}

main ~ * {
  height: 750px;
  background-color: #eeeef1;
  padding: 80px;
}

main > section:first-child {
  padding-top: 6%;
}

.how-we-help-section > *, .solution-based-section > *, .approach-section > *, .account-section > section > *{
  width:50%;
  float: left;
}

main > section:first-child, .how-we-help-section > section:first-child, .approach-section > section:first-child {
  padding-right: 40px;
}

.how-we-help-section > section + section > section {
  width: 250px;
  float: left;
  margin: 20px;
  height: 280px;
  background-color: #eeeef1;
  filter: drop-shadow(grey 1rem 1rem 10px);
}

.how-we-help-section > section + section  h4, .how-we-help-section > section + section  p {
  padding: 0 20px;
  text-align: center;
}

.solution-based-section, .approach-section {
  height: 660px;
}

.solution-based-section > section:first-of-type, .approach-section > section:first-of-type, .account-section > section > section:first-of-type {
  height: 500px;
  width: 35%;
  background-color: #cbcde2;
  margin-right: 11%;
}

.solution-based-section > section+section, .approach-section > section+section, .account-section > section > section+section {
  height: 500px;
}

.approach-section > section:first-of-type .small-image, .account-section > section > section:first-of-type .small-image {
  margin: 185px 0 0 30%;
}

.account-section > hgroup {
  width: 50%;
  margin: auto;
  text-align: center;
}

.account-section > button {
  margin-left: 45%;
  margin-top: 20px;
}
.account-section ul{
  list-style: none;
  height: 200px;
  padding-left: 0;
}
.account-section li > * {
  float: left;
  width: 25px;
}
.account-section li > hgroup {
  width: 95%;
  padding-left: 20px;
}

.account-section nav > *{
  float: left;
  margin: 0 20px 0 0;
}
.technologies-section > section {
  background-color: #171822;
  height: 400px;
}

.technologies-section > hgroup {
  width: 250px;
}
.wide-card {
  width: 250px;
  height: 150px;
  background-color: white;
  border: 1px solid white;
  border-radius: 5px;
  float: left;
  margin: 20px;
  padding: 10px;
}

.testimonals-section {
  height: 500px;
}

.testimonals-section > section:first-of-type {
  height: 200px;
  padding-top: 30px;
}
.testimonals-section > section:first-of-type > * {
  float: left;
}
.testimonals-section > section blockquote{
  width: 80%;
  font-size: 24px;
}
.testimonals-section > section:last-of-type, .testimonals-section > span {
  display:block;
  width:200px;
  margin:auto;
}
.testimonals-section > span {
  width:400px;
}

.order-now-section {
  background-color: #171822;
  height: 250px;
  color: lightgray;
  padding-left:25%;
}
.order-now-section > *{
  float: left;
}
.order-now-section > hgroup {
  width:30%;
}
footer {
  font-size: 14px;
  height: 500px;
}
footer >* {
  float: left;
  width: 20%;
  padding-right: 20px;
}
footer ul {
  list-style: none;
  padding-left: 0;
}
footer > section:first-of-type > ul > li >*{
  float: left;
}
footer > section:first-of-type > ul > li > p {
  width: 200px;
  margin-left: 20px;
}
footer > section:first-of-type + section ul > * {
  width: 50%;
  float:left;
}

footer > section:last-of-type > section > * {
  float: left;
  margin-right: 20px;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
